:root {
  --theme1:#6effbb; 
  --theme2: rgb(48, 224, 42); 
  --theme3: rgb(0,0,0);
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow-y:hidden;
  overflow-x: hidden;
}

.Add-button {
  background: rgb(251, 109, 109);
  outline: none;
  border: 1px solid rgb(240, 23, 23);
  border-radius: 5px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  inline-size: 10%;
  block-size: 10%;
  
}

.Add-button:hover {
  box-shadow: 3px 3px  darkred;
}
.Delete-button {
  background: rgb(0, 255, 157);
  outline: none;
  border: 2px solid rgb(34, 175, 65);
  border-radius: 5px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  inline-size: 12%;
  block-size: 10%;
}
.Delete-button:hover {
  box-shadow: 3px 3px  rgb(6, 90, 6);
}

.app-sidebar {
  width: 30%;
  padding-left: 1%;
  padding-top: 0.5%;
  border-right: 3px solid var(--theme1);
  
}

.app-sidebar-header {
  display: flex;
  gap: 69%;
  align-items: center;

}

.app-sidebar-header h3 {
  font-size: 36px;
  margin: 0;
  color: var(--theme1);
}
.app-sidebar-notes {
  height: 100vh;
  overflow-y:auto;
}

.app-sidebar-note {
  border: 5px solid #0c58588c;
  background: var(--theme1);
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 1%;
  margin-top: 1%;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.2s opacity;
  
}
.app-sidebar-note:hover {
  opacity: 1;
  transform: scale(1.02);
}
.app-sidebar-note.active {
  opacity: 1;
  transform: scale(1.02);
  background:rgb(34, 175, 65);
}

.app-sidebar-title {
  display: flex;
  gap: 50%;
  align-items: center;
  margin-left: 1%;

}

.app-sidebar-title h5 {
  display: flex;
  gap: 20%;
  font-size: 24px;
  margin: 0;
}

.app-sidebar-content p {
  margin-top: 2%;
  margin-bottom: 0;
  margin-left: 1%;
}
.app-sidebar-content small {
  margin-left: 58%;
  margin-bottom: 0;
}
.no-note{
  display: flex;
  align-items: center;
  width: 40%;
}
.no-note button {
  position: relative;
  left: 12%;
  bottom: 48%;
  background: rgb(0, 255, 157);
  outline: none;
  border: 2px solid rgb(34, 175, 65);
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  inline-size: 19%;
  block-size: 4%;
}
.app-main-no-note {
  width: 70%;
  font-size: 50px;
}
.app-main {
  display:flex;
  flex-direction: column;
  gap: 5%;
  width: 70%;
}
.app-main-theme-button{
  background: rgb(0, 255, 157);
  outline: none;
  border: 2px solid rgb(34, 175, 65);
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  inline-size: 7.2%;
  block-size: 4%;
  position: absolute;
  left: 92.8%;
}

.app-main-navigation-bar {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 90%;
  width: 200px;
  height: 800px;
  border: 5px solid black;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.app-main-navigation-bar.active {
  display: flex;
}
.app-main-theme-button-one {
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  outline: none;
  background:rgb(34, 175, 65);
  inline-size: 100%;
  block-size: 100%;
}

.app-main-edit {
  display:flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 3%;
  margin-right: 15%;
  gap: 5%;
}
.app-main-edit input {
  outline: none;
  margin-right: 70%;
  font-size: 30px;
  border: 2px solid black;
  
}
.app-main-edit textarea{
  resize: none;
  height: 40vh;
  font-size: 24px;
  border: 2px solid black;
  
}

.app-main-edit input:focus{
 
  outline: 3px solid var(--theme2);
}
.app-main-edit textarea:focus{
  outline: 3px solid var(--theme2);
}
.app-main-preview {
  border-top: 3px solid var(--theme1);
  padding-top: 2%;
  padding-left: 5%;
}

.app-main-preview-title {
  font-size: 42px;
  padding-bottom: 2%;
}
.app-main-preview-body {
 font-size: 32px;
 margin-right: 15%;
 
}
.app-main-preview-body p{
  margin-top: 1%;
  margin-left: 1%;
  line-height: 2rem;
  line-break: auto;
 }
